/Лаб. ра. 1/.vs/Лаб. ра. 1/v15/*.suo
/Лаб. ра. 1/.vs/Лаб. ра. 1/v15/Server/sqlite3/*.lock
/Лаб. ра. 1/.vs/Лаб. ра. 1/v15/Server/sqlite3/*.ide
/*/bin/*
/*/obj/*
/Лаб. ра. 1/Лаб. ра. 1/bin
/Лаб. ра. 1/Лаб. ра. 1/obj
